* {
    box-sizing: border-box;
  }
  body {
  font-size: 14px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  width: 100%;

  }


.owl-carousel img{
  width: 375px;
  height: 240;;
}

.textcarousel{
  background-color: red;
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
}


 /*--------------------------- Code de Tristan  */

 h1{
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration:none;
  }

  h2{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
  text-decoration:none;
  }


  .h2blanc{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
    text-decoration:none;
    }


  .h3orange{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #FF9A2D;
  text-decoration:none;
  }

  .h3blanc{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: rgb(255, 255, 255);
    text-decoration:none;
    }

  .h3marron{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #B8A796;
  text-decoration:none;
  }


  h4{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-decoration:none;
  color: #000000;
  }


  .h4blanc{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-decoration:none;
    color: #FFFFFF;
    }

  h5{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-decoration:none;
  color: #000000;
  }



.iconerecherche{
  position: absolute;
  left: 74.93%;
  right: 18.67%;
  top: 1.05%;
  bottom: 97.36%;
}

.boutoncompte{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 328px;
  top: 16px;

}


.boutontous{
  position: absolute;
  width: 152px;
  height: 25px;
  left: 208px;
  top: 324px;

  background: #FFFFFF;
  /* blurpop */

  box-shadow: 0px 1px 6px rgba(178, 163, 148, 0.3);
  border-radius: 8px;
  }

.boutonthème{
  position: absolute;
  width: 63px;
  height: 63px;
  left: 19px;
  top: 371px;

  background: #FFFFFF;
  /* blurpop */

  box-shadow: 0px 1px 6px rgba(178, 163, 148, 0.3);
  border-radius: 15px;
}


/* conférence a venir */

.Titreconf{
  margin-left: 17px;
}


/* .Date{
  display: flex;
  justify-content: space-between;
  top: 20px;
  color: #FF9A2D;
} */


.cardlinks{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 5px;

}

.cardlinks2{
  display: flex;
  justify-content: flex-start;
  margin-left: 5px;
  margin-top: 10px;
  align-items: flex-end;
}

.tag{
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
  color: #FFFFFF;
}


.pp{
  border-radius: 20px;
  width: 24px;
	height: 24px;
}





.boutontag{
padding-top: 5px;
padding-bottom: 5px;
padding-left: 16px;
padding-right: 16px;

background: #20A990;
border-radius: 5px;
text-decoration:none;
color: #FFFFFF;

}


.boutontag2{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;

  background: #20A990;
  border-radius: 5px;
  text-decoration:none;
  color: #FFFFFF;

  }

.carddirect1{
width: 154px;
height: 245px;
left: 22px;
top: 1236px;

margin-left: 17px;
background: #FFFFFF;
/* blurpop */

box-shadow: 0px 1px 6px rgba(178, 163, 148, 0.3);
border-radius: 8px;
}


.carddirect2{
width: 154px;
height: 245px;
left: 22px;
top: 1236px;

margin-left: 17px;
background: #FFFFFF;
/* blurpop */

box-shadow: 0px 1px 6px rgba(178, 163, 148, 0.3);
border-radius: 8px;
}


.Direct{
  width: 354px;
  height: 260px;
  left: 22px;
  top: 1236px;

  background: #FFFFFF;

  display: flex;
}

.Direct2{
  width: 354px;
  height: 75px;
  left: 22px;
  top: 1236px;

  background: #FFFFFF;

  display: flex;
}





/* Reprendre le podcast */

.cardpodcast{
  width: 333px;
  height: 62px;
  left: 21px;
  top: 1140px;

  margin-left: 17px;
  display: flex;

  background: #FFFFFF;
  border-radius: 8px;
}


.cardlinks4{
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 85px;

}

.cardlinks5{
  position: absolute;
  display: flex;
  justify-content: space-around;
  margin-left: 105px;
  margin-top: 38px;
  align-items: flex-end;
}

.pp2{
  border-radius: 20px;
  width: 15px;
	height: 15px;
}



/* ecoute */

.cardecoute{

  width: 377px;
  height: 56px;
  left: 0px;
  top: 1389px;

  background: #20A990;
  margin-top: 10px;
  margin-left: -10px;
}

.imgplay{
  margin-top: 9px;
  position: absolute;
}


.cardlinks6{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 120px;
  margin-top: 10px;
  position: absolute;
}


.coeur{
  width: 50px;
  height: 20px;
  margin-left: 300px;
  margin-top: 20px;
}

.cardecoute2{

  width: 377px;
  height: 56px;
  left: 0px;
  top: 1389px;

  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-top: 20px;
}





/*--------------------------- Code de Tristan s */


/*--------------------------- Code de May sur les tabbarres*/

.main-body {
  font-size: 14px;
  height: 100vh;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
}

.tab-bar {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.tab-bar-item {
  color: #C5B3A0
}

.tab-bar-item a {
  display: inline-block;
  color: inherit
}

/*--------------------------- PAge DIrect*/
